header {
    text-align: center;
}

h6 {
    text-align: center;
}

.box {
    text-align: center;
    padding: 5px;
    border: 5px solid gray; 
}

#pasta-ingredient-generator {
    text-align: center;
    padding: 5px;
    border: 5px solid gray; 
}

#resultNoodle {
    text-align: center;
    border: 5px solid yellow;
    max-height: 75px;
}

#resultSauce {
    text-align: center;
    border: 5px solid red;
    max-height: 75px;
}

#resultMeat {
    text-align: center;
    border: 5px solid brown;
    max-height: 75px;
}

#resultVegetable {
    text-align: center;
    border: 5px solid green;
    max-height: 75px;
}